:root {
    --primary: #0b0c10;
    --secondary: #1f2833;
    --third: #66fcf1;
    --optional: #45a293;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Raleway&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    height: 100vh;
}




@media screen and (min-width: 27em) {
    .site{
        display: grid;
        grid-template-areas: 
            "banner" 
            "main"
            "sidebar"
            "copyright";
        overflow-x: hidden;
    }

    .banner {
        background: var(--secondary);
        grid-area: banner;
    }
}

@media screen and (min-width: 60em) {
    .site{
        display: grid;
        grid-template-columns: 15em calc(100% - 16em) 15em;
        grid-template-areas: 
            "nav banner banner" 
            "nav main sidebar"
            "nav copyright copyright";
    }

    .main-nav {
        background: var(--primary);
        grid-area: nav;
        position: relative;
        width: 100%;
    }
}

