/* ###############################################
    Basic Responsive CSS fallback for all browsers
   ############################################### */

html, 
body, 
.wrapper, 
.column-nav {
	overflow: hidden;
    margin: 0 auto;
	height: 100%;
}

.wrapper {
    max-width: 50em;
}

/* ###############################################
    CSS Grid Layout For Grid Supporting Browsers
   ############################################### */

@supports (grid-area: auto) {

    /* ###############################################
                Small Screen Layout
    ############################################### */

    @media screen and (min-width: 27em){

        .wrapper{
            max-width: none;
            display: grid;
            overflow:hidden;
            width: 100%;
            height: 100vh;
            grid-template-columns: 15em calc(100% - 1em);
            grid-template-areas: 
                "nav header"
                "nav main"
                "nav sidebar"
                "nav footer";
        } 
    }

    @media screen and (min-width: 60em) {

         /* ###############################################
                Large Screen Layout
        ############################################### */

        .wrapper{
            max-width: none;
            display: grid;
            gap: 1em;
            overflow-x: hidden;
            width: 100%;
            height: 100%;
            grid-template-columns: 17em auto 15em;
            grid-template-areas: 
                "nav header header"
                "nav main sidebar"
                "nav main sidebar"
                "nav footer footer";
        }

        .column-nav {
            position: fixed;
            grid-area: nav;
            background: #0b0c10;
            width: 15em;
            height: 100%;
            font-size: 1.2em;
        }


        .column-header {
            grid-area: header;
            height: 40em;
            margin: 0 auto;
	        padding: 3em 2em;
        }
        
        .column-main {
            grid-area: main;
        }
        
        .column-sidebar {
            grid-area: sidebar;
        }
        
        .column-footer {
            grid-area: footer;
        }

        #hero {
            background-attachment: fixed;
        }
    }

}


